*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

.header{
    padding: 0 200px;
    background-color: #DC1588;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#FFF;
}

.header a{
    color:#FFF;
    padding-right: 10px;
    text-decoration: none;
}

.navigation{
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a{
    color: #879AAC;
    padding: 0 10px;
    text-decoration: none;
}



